.book_card {
  font-family: Jost, sans-serif;
  margin: 0px 20px 20px 20px;
  p {
    color: var(--gray2);
    margin: 5px 0px;
    font-size: 14px;
  }
  p:nth-child(4) {
    font-size: 15px;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--orange);
    text-decoration: underline;
  }
  img {
    width: 300px;
    height: 400px;
    user-select: none;
    transition: 0.3s all;
    &:hover {
      scale: 1.02;
    }
  }
}

.book_wrapper {
  display: flex;
  flex-direction: column;

  .icons {
    margin-left: 18px;
    margin-bottom: 20px;
  }
  svg {
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    padding: 5px;
    font-size: 32px;
    transition: 0.3s all;
    cursor: pointer;
    color: var(--orange);
    margin-right: 10px;
    &:hover {
      background-color: var(--orange);
      color: var(--white);
    }
  }
}

@media only screen and (max-width: 1500px) {
  .book_card {
    img {
      width: 250px;
      height: 400px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .book_card {
    img {
      width: 200px;
      height: 300px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .book_card {
    margin: 20px 5px;
  }
  .book_wrapper {
    .icons {
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .book_card {
    img {
      width: 250px;
      height: 350px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .book_card {
    margin-top: 10px;
    img {
      width: 350px;
      height: 450px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .book_card {
    img {
      width: 300px;
      height: 450px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .book_card {
    img {
      width: 250px;
      height: 350px;
    }
  }
}
